.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo_menu{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
/* Estilos del footer */
.footer_page {
    background-color: #000;
    color: rgba(255, 255, 255, 0.7);
    padding: 30px 0;
    text-align: center;
}

.footer_page .footer-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer_page .footer-links {
    margin-bottom: 15px;
}

.footer_page .footer-link {
    color: rgba(255, 255, 255, 0.7);
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer_page .footer-link:hover {
    color: #ffffff;
}

.footer_page .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer_page .social-icon {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer_page .social-icon:hover {
    color: #ffffff;
}
/*--------------------------------------------------------------------------*/
/*Apartir de aqui para abajo va el codigo del css de la pagina en concreto*/

/*BARRA BUSCADOR*/
.searchbar{
    width: 100vw;
    height: 20vh;
    padding: 10px;
    position: absolute;
    top: 18vh;
    left: 30vw;
}

#buscador{
    width: 30vw;
    padding: 10px;
    background: #0003;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}

#buscar{
    padding: 10px 30px;
    background: #000a;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    box-sizing: border-box;
}
#buscar:hover{
    background: #000;
}
/*-----------------------------------------------------------------------------*/
/*FILTRO*/
.background{
    border-radius: 10px;
    border-bottom: 1px solid #fff6;
    background: linear-gradient(to bottom, #000, transparent);
    box-shadow: 0 0 40px 0 #0006;
}

.filter{
    width: 18vw;
    position: absolute;
    top: 20vh;
    left: 5vw;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 0 0 40px 0 #0006;
    font-size: 16px;
}

.select{
    width: 70%;
    background: linear-gradient(to top, transparent, #000);
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.select-value{
    color: #000;
}

.filter-content{
    border-top: 1px solid #fffa;
    padding: 15px;
    font-size: 1em;
    margin: 10px 0;
}

input[type="checkbox"] {
    display: none;
}
  
.checkbox-style {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
}

.checkbox-style::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #000;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked + .checkbox-style::before {
    background-color: #000;
    border-color: #48e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M6 10.828L2.586 7.414l-1.415 1.414L6 13.657l9-9-1.414-1.415z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
/*-----------------------------------------------------------------------------*/
/*OFERTAS*/
.offers-box{
    position: absolute;
    top: 35vh;
    left: 30vw;
    width: 65vw;
    padding: 25px;
    color: #fff;
    box-shadow: 0 0 40px 0 #0006;
    box-sizing: border-box;
}
.offer{
    padding: 20px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
}
.spacing{
    height: 800px;
    background: #000;
}
.sueldo{
    padding: 0 20%;
    color: #fff;
    font-weight: bolder;
}
.p-offer{
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}
h4{
    padding: 10px 5%;
}
button{
    padding: 10px 30px;
    border: 1px solid #fff1;
    border-radius: 10px;
    margin: 10px;
    background: #000;
    color: #fff;
    font-weight: bold;
}
button:hover{
    background: #fff1;
}

.see-offer{
    width: 80vw;
    position: absolute;
    top: 20vh;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.offer-title{
    width: 50vw;
    margin: auto;
    margin-bottom: 70px;
    background: #0009;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 #0006;
    padding-left: 30px;
}
.offer-description{
    width: 40vw;
    position: absolute;
    left: 10%;
    padding: 20px;
}
.offer-info{
    width: 18vw;
    position: absolute;
    top: 15vh;
    right: 5vw;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 0 0 40px 0 #0006;
    font-size: 16px;
    margin-top: 30px;
}
.offer-info-content{
    padding: 20px 5px;
    border-top: 1px solid #fff6;
}
textarea{
    width: 100%;
    resize: none;
    background: #000;
    border: 1px solid #fff2;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    margin: 20px 0;
}

.nav-item .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item .badge {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 0.75rem;
    padding: 0.4em 0.6em;
    border-radius: 50%;
    color: white;
    background-color: #888;
}

.dropdown-menu {
    width: 300px;
    max-height: 300px; /* Define la altura máxima para las notificaciones */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    overflow-x: hidden; /* Asegura que no haya desplazamiento horizontal */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-size: 0.9rem;
    color: #333;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    overflow: hidden; /* Oculta el contenido adicional */
}

.dropdown-item:hover {
    background-color: #999;
}

.dropdown-divider {
    margin: 0.5em 0;
}

.text-center {
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
}

.text-center:hover {
    text-decoration: underline;
}

/* Estilo adicional para la barra de desplazamiento */
.dropdown-menu::-webkit-scrollbar {
    width: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
