body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offers-box {
    max-height: 100vh; /* Define el alto máximo del contenedor */
    overflow-y: auto; /* Activa la barra de desplazamiento vertical */
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: 50%; /* Ajusta el ancho del contenedor */
    background-color: #0006;
    scrollbar-width: thin; /* Compatibilidad con Firefox */
    scrollbar-color: #000c #ccc; /* Colores del scroll en Firefox */
}

.offers-box::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.offers-box::-webkit-scrollbar-track {
    background: #e0e0e0; /* Fondo del track */
}

.offers-box::-webkit-scrollbar-thumb {
    background: #888; /* Color del scroll */
    border-radius: 5px; /* Bordes redondeados */
}

.offers-box::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color al pasar el mouse */
}

.offer {
    margin-bottom: 20px;
}

.offer h4 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #fff;
}

.offer .sueldo {
    color: #fff;
}

.p-offer {
    margin: 0 0 10px;
    color: #fff;
}

button {
    background-color: #000;
    color: white;
    border: 1px solid #fff1;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #222;
}
.spacing-historial{
    height: 500px;
    background: #000;
}